<!DOCTYPE html>
<htmllang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}
                    <div class="header_logo">
                        <a>{% block logo %}{% endblock %}</a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="">Входящие документы</a></li>
                            <li><a href="">Добавить видео</a></li>
                            <li><a href="">Мои видео</a></li>
                        </ul>
                    </nav>



                    <button class="green">Войти</button>
                {% endblock %}
            </header>
            <div class="center_block_main">
                <main>
                    {% block main %}
                    

                    
                    {% endblock %}
                </main>
            </div>
        {% endblock %}
    </body>
</html>
